<% this.each(function(current) { %>
	<li class="recipe" <%= (el) -> el.data('recipe', current) %>>
    <h3><%= current.attr('name') %> <a href='javascript://' class='btn btn-danger destroy'>削除</a></h3>
	<% if(current.attr('image')) { %>
	<img src="<%== current.attr('image') %>">
	<% } %>
    <p><%= current.attr('description') %></p>
	</li>
<% }) %>